<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<section>
		<div class="formbold-main-wrapper">
			<div class="formbold-form-wrapper">
				<form th:action="@{/appointment/physio/save}" th:object="${appointmentPhysio}" method="post">
					<th:block th:if="${session.msg}">
						<p class="font-bold text-2x2 text-[#002D74] text-center">[[${session.msg}]]</p>
						<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
					</th:block>
					<h1 class="text-center display-6 fw-bold pb-2">Appointment Booking Form</h1>

					<div class="formbold-mb-5"></div>
					<label for="name" class="formbold-form-label">Consultation With </label>
					<select id="physio" th:field="*{physio}" class="formbold-form-input">
						<option th:each="physio : ${physios}" th:value="${physio.id}"
							th:text="${physio.physioFullName}"></option>
					</select>

					<div class="formbold-mb-5 mt-3">
						<label for="name" class="formbold-form-label"> Patient Full Name </label>
						<select id="patient" th:field="*{patient}" class="formbold-form-input">
							<option th:value="${patient.id}" th:text="${patient.patientFirstName}"></option>
						</select>
					</div>
					<div class="formbold-mb-5">
						<label for="phone" class="formbold-form-label"> Phone Number </label>
						<select id="patient" th:field="*{patient}" class="formbold-form-input">
							<option th:value="${patient.id}" th:text="${patient.patientMobileNumber}"></option>
						</select>
					</div>
					<div class="formbold-mb-5">
						<label for="email" class="formbold-form-label"> Email Address </label>
						<select id="patient" th:field="*{patient}" class="formbold-form-input">
							<option th:value="${patient.id}" th:text="${patient.email}"></option>
						</select>
					</div>
					<div class="formbold-mb-5">
						<label for="email" class="formbold-form-label"> Disease </label>
						<input type="text" name="disease" th:field="*{disease}"
							placeholder="Consultation reason" class="formbold-form-input" />
					</div>
					<div class="formbold-mb-5">
						<label for="email" class="formbold-form-label"> Description </label>
						<input type="text" name="description" th:field="*{description}"
							placeholder="Consultation reason" class="formbold-form-input" />
					</div>

					<div class="flex flex-wrap formbold--mx-3">
						<div class="w-full sm:w-half formbold-px-3">
							<div class="formbold-mb-5 w-full">
								<label for="date" class="formbold-form-label"> Date </label>
								<input type="date" name="date" id="date" th:field="*{date}"
									class="formbold-form-input" />
							</div>
						</div>
						<div class="w-full sm:w-half formbold-px-3">
							<div class="formbold-mb-5">
								<label for="text" class="formbold-form-label"> Time </label>
								<input type="text" name="time" id="text" th:field="*{time}" placeholder="e.g 9 pm"
									class="formbold-form-input" />
							</div>
						</div>
					</div>
					<div>
						<button class="formbold-btn">Book Appointment</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>

</html>