<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<h1 class="text-center display-6 fw-bold pb-2 bg-gradient">Your Appointments Nurse</h1>
		<div class="card" th:each="appointment : ${appointments}">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-6">
						<div style="display: flex;">
							<img class="avatar" th:src="@{'/img/'+${appointment.nurse.imageName}}">
							<div class="Name">
								<h5 class="N" th:text="${appointment.nurse.nurseFullName}">
								</h5>
								<h7 class="Specialization" th:text="${appointment.nurse.nurseSpecialization}">
								</h7>
								<br><br>
								<div style="display: flex;">
									<div>
										<h5>
											Time
										</h5>
										<p th:text="${appointment.time}">
										</p>
									</div>

									<div class="line"></div>

									<div style="margin-left: 20px;">
										<h5>
											Date
										</h5>

										<p th:text="${appointment.date}">

										</p>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 b">
						<div class="card-c5">
							<p style="font-size: 10px">PMC VERIFIED</p>
						</div>
						<div class="x">
							<button class="btn">
								<a th:href="@{/patient/update/appointment/nurse/{id}(id=${appointment.id})}">Update
									Appointment</a>
							</button>
							<br>
							<button class="detail-btn1">
								<a th:href="@{/patient/appointment/nurse/delete/{id}(id=${appointment.id})}">Delete
									Appointment</a>
							</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>