<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<title>Doctor page</title>
</head>

<body>
	<section>

		<div th:each="doctor : ${doctor}">
			<div class="Main-div">
				<div style="display: flex;">
					<img class="avatar" th:src="@{'/img/'+${doctor.imageName}}">
					<div class="this-name">
						<img style="padding-bottom: 5px;" th:src="@{/svg/platinium.svg}">
						<h5 class="myName" th:text="${doctor.doctorFullName}">
							
						</h5>

						<h7 class="MySpecialization" th:text="${doctor.doctorCity}">
					
						</h7>
						<br><br>
						<div style="display: flex;">
							<div>
								<h5 style="font-size: 1.3rem; font-weight: bolder;">
									Specialization
								</h5>

								<p th:text="${doctor.doctorSpecialization}">
									
								</p>
							</div>

							<div class="myLine"></div>

							<div style="margin-left: 20px;">
								<h5 style="font-size: 1.3rem; font-weight: bolder;">
									Experience
								</h5>

								<p th:text="${doctor.doctorExperience}">
								</p>
							</div>
							<div class="myLine"></div>

							<div style="margin-left: 20px;">
								<h5 style="font-size: 1.3rem; font-weight: bolder;">
									Hospital
								</h5>

								<p th:text="${doctor.doctorHospital}">
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card-section">
			<h4 style="padding-top: 3%;text-align: center;">Hospital & Cardiac Center</h4>
			<p style="padding-left:10%;padding-top: 30%;">Fee &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				&nbsp &nbsp &nbsp <b th:text="${doctor.doctorFees}"></b></p>

			<div class="mini-divider"></div>

			<p style="padding-left:10%;padding-top: 5%;">Address &nbsp &nbsp &nbsp &nbsp &nbsp<b style="padding-left: 47%;" th:text="${doctor.doctorHospital}"></b></p>

			<div class="mini-divider"></div>
			<div style="display: flex;">
				<img class="clock" th:src="@{/images/available-time-image.png}">
				<p style="color: lightgreen;margin-top: 15px;margin-left: 10px;">Avalaible</p>

				<p class="time" style="padding-left: 9%;" th:text="${doctor.doctorTiming}"></p>
			</div>


			<div style="padding-left: 20px;">
				<button  class="myBtn1">
					<a th:href="@{/appointments/new/{id}(id=${doctor.id})}">Book Appointment</a>
				</button>
			</div>
		</div>
		<div class="list-section">
			<div class="divider"></div>
			<h4 style="padding-top: 20px; font-size: 22px; font-weight: bolder;">Services</h4>
			<div style="display: flex;">
				<div>
					<ul style="padding: 10px 0px 0px 13px;">
						<li th:text="${doctor.services}"></li>
					</ul>
				</div>
			</div>
			<div class="divider"></div>
			<h4 style="padding-top: 20px; font-size: 22px; font-weight: bolder;">Conditions Treated</h4>
			<div style="display: flex;">
				<div>
					<ul style="padding: 10px 0px 0px 13px;">
						<li th:text="${doctor.doctorConditionTreated}"></li>
					</ul>
				</div>
			</div>

			<div class="divider"></div>
			<h4 style="padding-top: 20px; font-size: 22px; font-weight: bolder;">Education</h4>
			<div style="display: flex;">
				<div>
					<ul style="padding: 10px 0px 0px 13px;">
						<li th:text="${doctor.doctorQualification}">Education</li>
					</ul>
				</div>
			</div>

			<div class="divider"></div>
			<h4 style="padding-top: 20px; font-size: 22px; font-weight: bolder;">Specialization</h4>
			<div style="display: flex;">
				<div>
					<ul style="padding: 10px 0px 0px 13px;">
						<li th:text="${doctor.doctorSpecialization}"></li>
				</div>
			</div>

			<div class="divider"></div>
			<h4 style="padding-top: 20px; font-size: 22px; font-weight: bolder;">Experience</h4>
			<div style="display: flex;">
				<div>
					<ul style="padding: 10px 0px 0px 13px;">
						<li th:text="${doctor.doctorExperience}"></li>
				</div>
			</div>

			<div class="divider"></div>
			<h4 style="padding-top: 20px; font-size: 22px; font-weight: bolder;">Professional Memberships</h4>
			<div style="display: flex;">
				<div>
					<ul style="padding-top: 10px;">
						<li>Professional Memberships</li>
				</div>
			</div>
		</div>
		</div>


	</section>

</body>

</html>