<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-light">
</body>

</html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="myBox">
			<h2 class="heading">Health Tips</h2>
			<ul class="myclass">
				<li class="text">Measure and Watch Your Weight.</li>
				<li class="text">Limit Unhealthy Foods and Eat Healthy Meals.</li>
				<li class="text">Take Multivitamin Supplements.</li>
				<li class="text">Drink Water and Stay Hydrated, and Limit Sugared Beverages.</li>
				<li class="text">Exercise Regularly and Be Physically Active.</li>
				<li class="text">Reduce Sitting and Screen Time.</li>
				<li class="text">Get Enough Good Sleep.</li>
				<li class="text">Go Easy on Alcohol and Stay Sober</li>
				<li class="text">Find Ways to Manage Your Emotions</li>
				<li class="text">Use an App to Keep Track of Your Movement, Sleep, and Heart Rate</li>
			</ul>
		</div>

	</section>
</body>

</html>