<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" th:fragment="layout(content)">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>E-Doc</title>

	<link rel="stylesheet" th:href="@{https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css}" />
	<link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700}" rel="stylesheet" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet"
		th:href="@{https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css}"
		integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY=" crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.0/tailwind.min.css}"
		integrity="sha256-CAI/7ThhltsmP2L2zKBYa7FknB3ZwFbD0nqL8FCdxdc=" crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/inside.css}" />
	<link rel="stylesheet" th:href="@{/css/doctorList.css}" />
	<script th:src="@{https://cdn.tailwindcss.com}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />



	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap}" rel="stylesheet">
</head>

<body>
	<!-- Header Start  -->
	<nav class="flex items-center bg-gray-800 p-0 flex-wrap">
		<a href="#" class="p-2 mr-4 inline-flex items-center">
			<img th:src="@{/images/e-doc2.png}" class="h-12 pt-1 px-3 " alt="img...">
			<span class="text-xl text-white font-bold uppercase tracking-wide">E-Doc</span>
		</a>
		<button
			class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
			data-target="#navigation">
			<i class="material-icons">menu</i>
		</button>
		<div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
			<div
				class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto">
				<a href="/"
					class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
					<span>Home</span>
				</a>
				<li class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
					<a class="nav__link" th:href="@{/nurse/profile}">Nurse Profile</a>
				</li>
				<li class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
					<a class="nav__link" href="#"><span>[[${nurse.nurseFullName}]]</span></a>
				</li>
			</div>
		</div>
	</nav>
	<!-- Header end  -->
	<!--Sidebar-->
	<div class="sidebar">
		<a th:href="@{/nurse/home}" class="item"><i class="fas fa-home"></i> Home</a>
		<a th:href="@{/nurse/profile}" class="item"><i class="fas fa-user-circle"></i> My Profile</a>
		<a th:href="@{/nurse/showNurseFormForUpdate/{id}(id=${nurse.id})}" class="item"><i class="fas fa-user-circle"></i> Profile Setting</a>
		<a th:href="@{/nurse/appointments}" class="item"><i class="fa-solid fa-stethoscope"></i> Appointments</a>
		<a th:href="@{/logout}" class="item"><i class="fa fa-sign-out"></i> Logout</a>
		<div class="divider"></div>
	</div>

	<div class="content">
		<div th:replace="${content}"></div>
	</div>




	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/script2.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>