<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="physio/base::layout(~{::section})">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
	<section>
		<div>
			<header>
				<div class="header_img flex_column_center">
					<img th:src="@{'/img/'+${physio.imageName}}" alt="Logo" />
				</div>
				<div class="header_text flex_column_center">
					<h1 th:text="${physio.physioFullName}"></h1>
					<h2 th:text="${physio.email}"></h2>
				</div>
				<div class="header_svg_list flex_row_center">
			</header>
			<main>
				<section id="main_section_container_1" class="flex_column_center">
					<div class="main_small_button_list">
						<a class="main_small_a_item" href="#link" target="_blank" rel="nofollow">
							<button class="main_small_button_item" th:text="${physio.physioSpecialization}"></button>
						</a>
						<a class="main_small_a_item" href="#link" target="_blank" rel="nofollow">
							<button class="main_small_button_item" th:text="${physio.physioQualification}"></button>
						</a>
					</div>
					<div class="main_small_button_list">
						<a class="main_small_a_item" href="#link" target="_blank" rel="nofollow">
							<button class="main_small_button_item" th:text="${physio.physioHospital}"></button>
						</a>
						<a class="main_small_a_item" href="#link" target="_blank" rel="nofollow">
							<button class="main_small_button_item" th:text="${physio.services}"></button>
						</a>
					</div>
					<a class="main_a_item" href="#link" target="_blank" rel="nofollow">
						<button class="main_button_item" th:text="${physio.physioExperience}"></button>
					</a>
					<a class="main_a_item" href="#link" target="_blank" rel="nofollow">
						<button class="main_button_item" th:text="${physio.physioConditionTreated}">Menu 1 Item</button>
					</a>
				</section>
			</main>
		</div>
	</section>
</body>
</html>